.caroussel {
    position: relative;
    width: 95%;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 25px;
    margin-top: 40px;
    margin-bottom: 40px;
    .in-caroussel {
      display: flex;
      transition: transform 0.5s ease-in-out;
      height: 40vh;
      
      .container-images {
        flex: 0 0 auto;
        width: 100%;
        height: 100%;
        display: flex;
        
        img {
        object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }
  
    .carousel-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: transparent;
      border: none;
      font-size: 120px;
      cursor: pointer;
      color: white; 
    }
  
    .left-chevron {
      left: 10px;
      z-index: 1;
    }
  
    .right-chevron {
      right: 10px;
    }
  
    @media (max-width: 768px) {
      .carousel-inner {
        .carousel-item {
          width: 100%;
        }
      }
    }
  }
  