.containerCollapse {
   
    .divCollapse {
        width: 100%;
        margin: auto;
    .collapse {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;     
        margin: auto;
        background-color: $color-1;  
        border-radius: 5px;
        h2 {
            margin-left: 20px;
            margin-bottom: 15px;
            color: white;
            font-family: 'Montserrat', sans-serif;
        }
        i {
            margin-top: 30px;
            margin-right: 20px;
            color: white;
        }
        .rotate {
            transform: rotate(-180deg);
            margin-bottom: 30px;
            transition: transform 350ms ease;
        }
    } 
    .text {
        background-color: #F6F6F6;
        color: $color-1;    
        font-family: 'Montserrat', sans-serif;
        max-height: 0;
        transition:  1s ;
        overflow: hidden;
        .text-content{
        padding: 20px;
        }
    } 
    .show {
        max-height: 500px;;
        transition: max-height 1s ease-in;
    }
}
}



