$color-1: #FF6060;
@keyframes slidedown {
    0% {
        opacity: 0;
        margin-top: -50px;
    } 
    80% {
        opacity: 0;
        margin-top: -10px;
    } 
    80% {
        opacity: 0.1;
        margin-top: 5px;
    } 
    95%{
        opacity: 0.3;
        margin-top: 10px;
    } 
    98%{
        opacity: 0.7;
        margin-top: 10px;
    }
    100%{
        opacity: 1;
        margin-top: 20px;
    }

}

.divCollapse {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70%;
    .collapse {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%; 
        margin-top: 40px;
        margin-bottom: -3px;
        background-color: $color-1;  
        border-radius: 5px;
        h2 {
            margin-left: 20px;
            margin-bottom: 15px;
            color: white;
            font-family: 'Montserrat', sans-serif;
        }
        i {
            margin-top: 30px;
            margin-right: 20px;
            color: white;
        }
        .rotate {
            transform: rotate(-180deg);
            margin-bottom: 30px;
             transition: transform 350ms ease-in-out ;
        }
    } 

    .text {
        background-color: #F6F6F6;
        color: $color-1;    
        font-family: 'Montserrat', sans-serif;
        max-height: 0;
        transition: max-height 1s ease;
        transition-delay: 0s;
        overflow: hidden;
        background: #d5d5d5;
    }
    
    .show {
        max-height: 500px;;
        transition: max-height 1s ease-in 0s;
    }
    .text-content{
        padding: 20px 0px;
    }
    
}

