.container {
    display: flex;
    flex-direction: row;
    color: $color-1;
    width: 95%;
    margin: auto;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    .infosLocation {       
        h1 {
            margin-bottom: 0px;
        }
        p {
            margin-top: 0px;
        }
        .tags {
            display: flex;
            flex-direction: row;
            text-align: center;
            color: white;
            .tag {
                background-color: $color-1;
                border-radius: 30px;
                padding: 5px 15px ;
                margin-right: 5px;
            }
        }
    }

    .divProprio {
        width: 15%;
       .infosProprio {
        display: flex;
        flex-direction: row;
        .circle {
            background-color: #d6d3d3;
            object-fit: cover;
            width: 60px;
            height: 60px;
            border-radius: 100px;
            margin-top: 10px;
            margin-left: 10px;
        }
    }
    .divRating {
        margin: auto;
        margin-left: 35px;
        width: 80%;
        margin-top: 15px;
        
    }
    i {
            margin-right: 4px;
             .star-filled {
            color: $color-1; 
        }
        
    } 
    }
    
}