.navigation {
    display: flex;
    justify-content: space-between;
    height: 68px;
    width: 96%;
    margin: auto;
    margin-top: 30px;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      
      li {
        margin: 10px;
  
        a {
          color: $color-1;
        }
      }
    }

    a.active {
        border-bottom: 2px solid $color-1;
      }
  }
