.collapseLocationChoice {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;

    @media (max-width: 500px){
        flex-direction: column;
    }
    .containerCollapse {
        width: 47%;
        
        @media (max-width: 500px){   
            margin: auto;
            width: 95%; 
        }
    }
    
}